GITHUB_TOKEN=your_github_token_here
GITHUB_REPO_URL=your_github_repo_url_here
GITHUB_USERNAME=your_github_username_here
GITHUB_USER_EMAIL=your_github_user_email_here
ANTHROPIC_API_KEY=your_anthropic_api_key_here
GEMINI_API_KEY=your_gemini_api_key_here
SUPABASE_URL=https://smspjeeewwozltqxwrej.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNtc3BqZWVld3dvemx0cXh3cmVqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NjU1NjYwNCwiZXhwIjoyMTAyMTMyNjA0fQ.51szmzornoOdmvS_qK1uEd6TGJmEUHihFrVBOSGO4Hg
